// ==========================================================================
// Placeholders
// ==========================================================================

%btn {
  border-radius: $br--default;
}

%widget {
  padding: $indent 0;
  border-top: $br--blue;
  border-bottom: $br--blue;

  @include mq(medium) {
  @include flex($just: space-between, $wrap: wrap);
    padding: $indent-lg 0;
  }
}

%img {
  width: $col-height;
  border-radius: $br--round;
  %img:hover {
    transform: scale(2);
  }
}
