//=====================
// Charts
//=====================


.main__chart--traffic {
  width: 90vw;
  @include mq(medium) {
    background-color: $white;
  }
  @include mq(large) {
    width: 80vw;
  }
}

.traffic__titlebar {
  @include flex($dir: column, $algnI: center);
  @include mq(medium) {
    @include flex($dir: row, $just: space-between);
  }


  &--nav {


    & ul {
      @include flex($dir: row, $just: space-around);
      // color: $white;
      // background-color: $color-secundary;
      padding: $indent;
      background-color: $white;
      color: palette(black, light);

      & li {
        @include flex();
        font-weight: $font-weight--light;
        height: auto;
        padding: $indent / 2 $indent;
        border-radius: 20px;
        & a {
          text-decoration: none;
        }
        &.active {
          background-color: $feijoa;
          & a {
            color: $white;
          }
        }
        @include mq(medium) {
          margin: $indent;
        }
      }
    }
  }
}

.traffic__container {
  height: auto;
  position: relative;
  border-bottom: $br--blue;
  padding-bottom: $indent;
  @include mq(medium) {
    height: 25vh;
    min-height: 14rem;
  }
  @include mq(large) {
    height: 35vh;
    min-height: 18rem;
  }
}

.main__chart--daily {
  width: 80%;
  justify-self: center;
  height: 30vh;
  position: relative;
  padding-bottom: $indent-lg;
  border-bottom: $br--blue;
  @include mq(medium) {
    height: 28vh;
    min-height: 15rem;
    width: 90%;
    margin-top: $indent;
    justify-self: end;
    border: none;
  }
  @include mq(large) {
    width: 80%;
    height: 30vh;
    min-height: 18rem;
  }
}

.main__chart--mobile {
  width: 90%;
  justify-self: left;
  height: 25vh;
  margin-bottom: $indent;
  padding-bottom: $indent-lg;
  position: relative;
  & .dashboard__titlebar--titles {
    margin-left: 1rem;
  }

  @include mq(medium) {
    border-left: $br--blue;
    width: 90%;
    justify-self: left;
    min-height: 18rem;
    margin-top: $indent;
    padding-left: $indent-lg;
    & .dashboard__titlebar--titles {
      margin-left: $indent-lg;
    }
  }
  @include mq(large) {
    width: 80%;
    height: 25vh;
    min-height: 18rem;
    margin-left: 0;
    padding-bottom: $col-height;
  }
}
