// =================
// CSS Grid Layout
// =================

.grid__main {
  max-width: 1300px;
  margin: auto;
  background-color: $white;
  @include grid();

  @include mq(large) {
    // width: device-width;
    grid-template-rows: auto auto;
    grid-template-columns: auto minmax(0, 1fr);


  }

}

.grid__content {
  @include grid();
    width: 100vw;
  @include mq(medium) {
    grid-auto-rows: max-content;
    grid-gap: $indent-lg;
  }

  @include mq(large) {
    grid-column: 2 / -1;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
