// =================
// CSS Grid Layout
// =================

.grid__main {
  margin: auto;
  background-color: $white;
  @include grid();
  @include mq(large) {
    grid-template-rows: auto 100rem;
    grid-template-columns: auto minmax(0, 1fr);
    height: 100%;
  }
}

.grid__content {
  @include grid();
    width: 100vw;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-row-gap: $indent;
  @include mq(medium) {
    grid-row-gap: $indent-lg;
  }

  @include mq(medium) {
    grid-column: 2 / -1;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-row-gap: $indent-lg;
    background-color: $white;
  }
}
