// =================
// Message section
// =================

.main__messages {
  @extend %widget;
  @extend %left;
  padding-top: 0;
  margin-top: $indent;
  position: relative;
  & .dashboard__titlebar--titles {
    margin-top: $indent-lg;
  }
  & button {
    @extend %btn;
  }
  & input,
  & textarea {
    @extend %input;
  }
  & textarea {
    height: $col-height-xl;
  }
}

// Suggestions

.searchSuggestions {
  position: absolute;
  border: $br--blue;
  border-radius: $br--default;
  max-width: 100%;
  margin-right: $indent;
  z-index: 10;
  top: 96px;
  left: 0;
  right: 0;
  &--items {
    margin: 0;
    border-bottom: $br--blue;
    &:last-child {
      border-bottom: none;
    }

    & input {
      cursor: pointer;
      background-color: palette(color-primary, xx-light);
      border: none;
      border-radius: 0;
      margin: 0;
      &:hover {
        background-color: palette(color-primary, x-light);
      }
    }

  }
}

.active input {
  background-color: palette(color-primary, x-light);
}
