// =================
// Settings section
// =================

.main__settings {
  @extend %widget;
  @extend %right;
  border-top: none;
  border-bottom: none;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 0;
  margin-top: $indent;
  @include mq(medium) {
    border-top: $br--blue;
    border-bottom: $br--blue;
  }
  & .dashboard__titlebar--titles {
    margin-top: 0;
    margin-bottom: 0;
    @include mq(medium) {
      margin-top: $indent-lg;
    }
  }
}

.main__settings--inputs {
  height: $col-height-lg * 4;
  @include flex($dir: column, $just: space-around);
  @include mq(medium) {
    height: 60%;
  }

}

// Switchboxes

.main__settings--switches {
  @extend %slider;
  text-align: center;
  & .labelCheckbox {
    display: block;
  }
  @include mq(medium) {
    text-align: left;
    @include flex($dir: row, $just: flex-start, $algnI: center);
    & .labelCheckbox {
    width: 40%;
    }
  }
}

// Timezone

 #timezone {
  background-color: palette(color-primary, xx-light);
  height: $col-height-lg;
  width: 100%;
  padding: $indent;
  border: $br--blue;
  border-radius: $br--default;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-image: url("../images/select.png");
  background-position: calc(100% - 15px) calc(1em + 2px);
  background-repeat: no-repeat;
}

// Buttons

.main__settings--buttons {
  margin-top: auto;

  @include flex($just: space-between);
  & button {
    @extend %btn;
    width: 48%;
  }
  & #resetSettings {
    background-color: palette(color-primary, xx-light);
    color: $color-secundary;
  }
}
